<section class="hero has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <figure class="image">
                        <!---<img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">--->
                        <img class="" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                                <a href="mailto:chadefat@tcd.ie"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact</a>
                                    <a href="{{site.url}}{{site.baseurl}}/openPositions"
                                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Open Positions</a>
                                    

                        </div>
                    </div>
                </div>
            </div>
</section>
