
<br>
{% for project in site.data.research %}
<div class="columns has-text-centered" id="blog-card">


  <div class="column  is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
  id="project-card">
  <a href="{{project.link}}" target="_blank">
    <div class="image is-5by3"  style="background-image: url({{project.image}}); background-size: contain;">

    </a>
  </div>
</div>


<a href="{{project.link}}" target="_blank">

  <div class="column has-text-left-desktop has-text-left-tablet is-two-thirds-widescreen is-two-thirds-desktop is-two-thirds-fullhd is-two-thirds-tablet is-two-fifths-mobile is-three-quarters-touch">
    <!---<h1 class="title is-size-4-touch">{{project.title}}</h1>--->
    <div class="content has-text-grey">
      <!---<h1 class="title has-text-black is-size-4">{{ project.name }}</h1>--->
      <h5>
        {{ project.author | truncate: 200 | strip_html | strip_newlines | strip | escape }}.
        {{ project.year | truncate: 200 | strip_html | strip_newlines | strip | escape }}.
        {{ project.title | truncate: 200 | strip_html | strip_newlines | strip | escape }}.
        <i>{{ project.journal | truncate: 200 | strip_html | strip_newlines | strip | escape }}</i>
        {{ project.volume | truncate: 200 | strip_html | strip_newlines | strip | escape }}({{ project.number | truncate: 300 | strip_html | strip_newlines | strip | escape }}).
        {{ project.pages | truncate: 200 | strip_html | strip_newlines | strip | escape }}
      </h5>
      <h6>
        {{ project.description | truncate: 200 | strip_html | strip_newlines | strip | escape }}
        </h6>
    </div>
  </div>
</a>





</div>
<br>
{% endfor %}
